<!DOCTYPE HTML>
<html>
	<head>
		<title>FALCO ROBOTICS</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="static/assets/css/noscript.css"/></noscript>
	</head>
	<body class="is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrappers">

				<!-- Wrapper -->
					<div id="wrapper">

						<!-- Panel (Banner) -->
							<section class="panel banner right">
								<div class="content color0 span-3-75">
									<h1 style="font-size:450%; letter-spacing:10px; font-stretch: expanded;" >FALCO</h1>
									<h1 class="major" style="font-size:450%; letter-spacing:10px; font-stretch: expanded">ROBOTICS</h1>
									<p>YOUR INTENT WE INVENT </p>
									<ul class="actions">
										<li><a href="#first" class="button primary color1 circle icon solid fa-angle-right">Next</a></li>
									</ul>
								</div>
								<div class="image filtered span-1-75" data-position="25% 25%">
									<img src="https://media.giphy.com/media/l1TxcyQupn84r89zri/giphy.gif" style= "background-color:#583d72; width:100%" alt="" />
								</div>
							</section>

						<!-- Panel (Spotlight) -->
							<section class="panel spotlight medium right" id="first">
								<div class="content span-13">
									<h2 class="major" style="position: relative ;left: 1px; top:100px">About Us</h2>
									<img src="https://media.giphy.com/media/eijOejNuzidslnoIeU/giphy.gif" width="180" height=auto style="position: relative ;left: 170px; bottom:70px"/>
									<p style="position: relative ;left: 1px; bottom:50px">Established as a Proprietor firm in the year 2020 at Ashok Nagar (Delhi, India), we “Falco Robotics” are a leading Manufacturer and Wholesale Trader of a wide range of Drone Camera, Flower Dropping Drone and Agriculture Drones. We procure these products from the most trusted and renowned vendors after stringent market analysis. Further, we offer these products at reasonable rates and deliver these within the promised time-frame. Under the headship of <strong>“Mr. Vishal Dixit" (CEO)</strong>, we have gained a huge clientele across the nation</p>
								</div>
								<div class="image filtered tinted" data-position="top left">
									<img src="static/images/pic02.jpg" alt="" />
								</div>
							</section>

						<!-- Panel -->
							<section class="panel color1">
								<div class="intro joined">
									<h2 class="major">Services</h2>
									<h4>What we offer</h4>
									<ul class="contact-icons color1">
											<li class="fas fa-book-reader"><a href="#training" style="padding-right:40px">Falco Training</a></li>
											<li class="fas fa-hotel"><a href="#training">Falco Rooms</a></li>
											<li class="fas fa-shopping-basket"><a href="#training">Falco Drones</a></li>
									</ul>
									<p></p>
								</div>
								<div class="inner">
									<ul class="grid-icons three connected">
										<li><span class="icon fa-gem"><span class="label">Lorem</span></span></li>
										<li><span class="icon solid fa-camera-retro"><span class="label">Ipsum</span></span></li>
										<li><span class="icon solid fa-cog"><span class="label">Dolor</span></span></li>
										<li><span class="icon solid fa-paper-plane"><span class="label">Sit</span></span></li>
										<li><span class="icon solid fa-chart-bar"><span class="label">Amet</span></span></li>
										<li><span class="icon solid fa-code"><span class="label">Nullam</span></span></li>
									</ul>
								</div>
							</section>

						<!-- Panel -->
							<section class="panel">
								<div class="intro color2">
									<h2 class="major">Portfolio</h2>
									<p>Sed vel nibh libero. Mauris et lorem pharetra massa lorem turpis congue pulvinar. Vivamus sed feugiat finibus. Duis amet bibendum amet sed. Duis mauris ex, dapibus sed ligula tempus volutpat magna etiam.</p>
								</div>
								<div class="gallery">
									<div class="group span-3">
										<a href="static/images/gallery/fulls/01.jpg" class="image filtered span-3" data-position="bottom"><img src="static/images/gallery/thumbs/drone2.jpeg" alt="" /></a>
										<a href="static/images/gallery/fulls/02.jpg" class="image filtered span-1-5" data-position="center"><img src="static/images/gallery/thumbs/student.jpeg" alt="" /></a>
										<a href="static/images/gallery/fulls/03.jpg" class="image filtered span-1-5" data-position="bottom"><img src="static/images/gallery/thumbs/tiny.jpeg" alt="" /></a>
									</div>
									<a href="static/images/gallery/fulls/04.jpg" class="image filtered span-2-5" data-position="top"><img src="static/images/gallery/thumbs/master.jpg" alt="" /></a>
									<div class="group span-4-5">
										<a href="static/images/gallery/fulls/05.jpg" class="image filtered span-3" data-position="top"><img src="static/images/gallery/thumbs/dronefly2.gif" alt="" /></a>
										<a href="static/images/gallery/fulls/06.jpg" class="image filtered span-1-5" data-position="center"><img src="static/images/gallery/thumbs/baby.jpg" alt="" /></a>
										<a href="static/images/gallery/fulls/07.jpg" class="image filtered span-1-5" data-position="bottom"><img src="static/images/gallery/thumbs/bro.jpg" alt="" /></a>
										<a href="static/images/gallery/fulls/08.jpg" class="image filtered span-3" data-position="top"><img src="static/images/gallery/thumbs/4boys.jpg" alt="" /></a>
									</div>
									<a href="static/images/gallery/fulls/09.jpg" class="image filtered span-2-5" data-position="right"><img src="static/images/gallery/thumbs/2.jpg" alt="" /></a>
								</div>
							</section>

						<!-- Panel -->
							<section class="panel color4-alt">
								<div class="intro color4">
<!--									<img src="static/images/gallery/thumbs/giphy.gif" width="280" height=auto style="position: relative ;left: 100px; top:30px"/>-->
									<img src="https://media.giphy.com/media/UQVRBjPL7Kd5NR7ZCt/giphy.gif" width="180" height=auto style="position: relative ;left: 80px; top:60px"/>
									<h2  class="major" style="position: right" >Contact</h2>
									<p>If you have a project that you want to get started, think you need our help with something
										or just a fancy saying hey, then get in touch.</p>
								</div>
								<div id="contacts" class="inner columns divided">
									<div class="span-3-25">
										<form method="post" action="#contacts">
											<div class="fields">
												<div class="field half">
													<label for="name">Name</label>
													<input type="text" name="name" id="name" />
												</div>
												<div class="field half">
													<label for="email">Email</label>
													<input type="email" name="email" id="email" />
												</div>
												<div class="field">
													<label for="message">Message</label>
													<textarea name="message" id="message" rows="4"></textarea>
												</div>
											</div>
											<ul class="actions">
												<li><input type="submit" value="Send Message" class="button primary" /></li>
												{%if msg_sent:%}
												<h5 style="position: relative ;left: 230px; bottom:1px">Message Sent</h5>
												{% endif %}
											</ul>
										</form>
									</div>
									<div class="span-1-5">
										<ul class="contact-icons color1">
											<li class="icon brands fa-linkedin"><a href="https://www.linkedin.com/company/falco-robotics/">Linkedin</a></li>
											<li class="icon brands fa-facebook-f"><a href="https://www.facebook.com/falcorobotics/">Facebook</a></li>
											<li class="icon brands fa-youtube"><a href="https://www.youtube.com/channel/UCC0M9aH2li21FKABbcCrGSQ">Youtube</a></li>
											<li class="icon brands fa-instagram"><a href="https://www.instagram.com/falcorobotics/">Instagram</a></li>
											<li class="icon brands fa-twitter"><a href="https://twitter.com/FalcoRobotics">Twitter</a></li>
										</ul>
									</div>
								</div>
							</section>

						<!-- Panel -->
							<section id="training" class="panel color2-alt">
								<div class="intro color2">
									<h2 class="major">More About Our Services</h2>
									<p>Sed vel nibh libero. Mauris et lorem pharetra massa lorem turpis congue pulvinar. Vivamus sed feugiat finibus. Duis amet bibendum amet sed. Duis mauris ex, dapibus sed ligula tempus volutpat magna etiam. </p>
								</div>
								<div class="inner columns aligned">
									<div class="span-1-75">

										<h3 class="major">Falco Training</h3>
										<p>We at <strong>Falco Robotics</strong> provides world class training with the best trainers from
											all over the country. Our trainers are well trained and well experienced in their respective fields.</p>
										<p>To know more about our training programs, please click on the link below.

										<a href="http://falcorobotics.in/training.html#train"><li class="far fa-hand-point-right"></li>  Falco Training</a></p>
										<img style="width:40%; position: relative;left: 190px; bottom:120px" src="static/images/gallery/thumbs/6906826.png" />

									</div>
									<div class="span-1-75" style="padding-bottom:50px" >

										<h3 class="major">Falco Rooms</h3>
										<p><strong>Falco Rooms</strong> provide you the best hospitality ever you can get. We automate your normal
											room to make it more interesting and make it more useful and modern.</p>
										<p>Click below to download our app from Playstore.</p>

										<a href="https://play.google.com/store/apps/details?id=tech.falcorobotics.falcoroom&hl=en&gl=US" class="button primary color2"><i class="fab fa-google-play fa-2x"></i>  Download</a>

									</div>
									<div class="span-1-75">

										<h3 class="major">Falco Drones</h3>
										<li>We provide you the best robotics equipment you can use for your projects and for commercial use.</li>
										<li>We provide the best and at the most affordable rate.</li>
										<li>We can also suggest you the products you should buy for your upcoming projects</li>

										<p style="padding:20px 0px 0px 0px">To know more about <strong>Falco Drones</strong>, please click on the link below.
										<a href="https://m.indiamart.com/falcorobotics/"><li class="far fa-hand-point-right"></li> Falco Drones</a></p>

									</div>
<!--									<div class="span-1-25">-->

<!--										<h3 class="major">Lists</h3>-->

<!--										<h4>Unordered</h4>-->
<!--										<ul>-->
<!--											<li>Lorem ipsum dolor sit.</li>-->
<!--											<li>Dolor pulvinar etiam.</li>-->
<!--											<li>Etiam vel felis viverra.</li>-->
<!--										</ul>-->

<!--										<h4>Alternate</h4>-->
<!--										<ul class="alt">-->
<!--											<li>Lorem ipsum dolor sit.</li>-->
<!--											<li>Dolor pulvinar etiam.</li>-->
<!--											<li>Etiam vel felis viverra.</li>-->
<!--											<li>Felis enim feugiat.</li>-->
<!--										</ul>-->

<!--									</div>-->
<!--									<div class="span-1-5">-->

<!--										<h4>Ordered</h4>-->
<!--										<ol>-->
<!--											<li>Lorem ipsum dolor sit.</li>-->
<!--											<li>Dolor pulvinar etiam.</li>-->
<!--											<li>Etiam vel felis viverra.</li>-->
<!--											<li>Felis enim feugiat.</li>-->
<!--											<li>Etiam vel felis lorem.</li>-->
<!--										</ol>-->

<!--										<h4>Actions</h4>-->
<!--										<ul class="actions">-->
<!--											<li><a href="#" class="button primary color2">Default</a></li>-->
<!--											<li><a href="#" class="button">Default</a></li>-->
<!--										</ul>-->
<!--										<ul class="actions stacked">-->
<!--											<li><a href="#" class="button primary color2">Default</a></li>-->
<!--											<li><a href="#" class="button">Default</a></li>-->
<!--										</ul>-->

<!--									</div>-->
<!--									<div class="span-1-25">-->

<!--										<h4>Icons</h4>-->
<!--										<ul class="icons">-->
<!--											<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>-->
<!--											<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>-->
<!--											<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>-->
<!--											<li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>-->
<!--											<li><a href="#" class="icon brands fa-medium-m"><span class="label">Medium</span></a></li>-->
<!--										</ul>-->

<!--										<h4>Contact Icons</h4>-->
<!--										<ul class="contact-icons color2">-->
<!--											<li class="icon brands fa-twitter"><a href="#">Twitter</a></li>-->
<!--											<li class="icon brands fa-facebook-f"><a href="#">Facebook</a></li>-->
<!--											<li class="icon brands fa-instagram"><a href="#">Instagram</a></li>-->
<!--											<li class="icon brands fa-github"><a href="#">GitHub</a></li>-->
<!--											<li class="icon brands fa-medium-m"><a href="#">Medium</a></li>-->
<!--										</ul>-->

<!--									</div>-->
<!--									<div class="span-3">-->
<!--										<h3 class="major">Table</h3>-->
<!--										<h4>Default</h4>-->
<!--										<div class="table-wrapper">-->
<!--											<table>-->
<!--												<thead>-->
<!--													<tr>-->
<!--														<th>Name</th>-->
<!--														<th>Description</th>-->
<!--														<th>Price</th>-->
<!--													</tr>-->
<!--												</thead>-->
<!--												<tbody>-->
<!--													<tr>-->
<!--														<td>Item One</td>-->
<!--														<td>Ante turpis integer aliquet porttitor.</td>-->
<!--														<td>29.99</td>-->
<!--													</tr>-->
<!--													<tr>-->
<!--														<td>Item Two</td>-->
<!--														<td>Vis ac commodo adipiscing arcu aliquet.</td>-->
<!--														<td>19.99</td>-->
<!--													</tr>-->
<!--													<tr>-->
<!--														<td>Item Three</td>-->
<!--														<td> Morbi faucibus arcu accumsan lorem.</td>-->
<!--														<td>29.99</td>-->
<!--													</tr>-->
<!--													<tr>-->
<!--														<td>Item Four</td>-->
<!--														<td>Vitae integer tempus condimentum.</td>-->
<!--														<td>19.99</td>-->
<!--													</tr>-->
<!--												</tbody>-->
<!--												<tfoot>-->
<!--													<tr>-->
<!--														<td colspan="2"></td>-->
<!--														<td>100.00</td>-->
<!--													</tr>-->
<!--												</tfoot>-->
<!--											</table>-->
<!--										</div>-->
<!--									</div>-->
<!--									<div class="span-3">-->
<!--										<h4>Alternate</h4>-->
<!--										<div class="table-wrapper">-->
<!--											<table class="alt">-->
<!--												<thead>-->
<!--													<tr>-->
<!--														<th>Name</th>-->
<!--														<th>Description</th>-->
<!--														<th>Price</th>-->
<!--													</tr>-->
<!--												</thead>-->
<!--												<tbody>-->
<!--													<tr>-->
<!--														<td>Item One</td>-->
<!--														<td>Ante turpis integer aliquet porttitor.</td>-->
<!--														<td>29.99</td>-->
<!--													</tr>-->
<!--													<tr>-->
<!--														<td>Item Two</td>-->
<!--														<td>Vis ac commodo adipiscing arcu aliquet.</td>-->
<!--														<td>19.99</td>-->
<!--													</tr>-->
<!--													<tr>-->
<!--														<td>Item Three</td>-->
<!--														<td> Morbi faucibus arcu accumsan lorem.</td>-->
<!--														<td>29.99</td>-->
<!--													</tr>-->
<!--													<tr>-->
<!--														<td>Item Four</td>-->
<!--														<td>Vitae integer tempus condimentum.</td>-->
<!--														<td>19.99</td>-->
<!--													</tr>-->
<!--													<tr>-->
<!--														<td>Item Five</td>-->
<!--														<td>Ante turpis integer aliquet porttitor.</td>-->
<!--														<td>29.99</td>-->
<!--													</tr>-->
<!--												</tbody>-->
<!--												<tfoot>-->
<!--													<tr>-->
<!--														<td colspan="2"></td>-->
<!--														<td>100.00</td>-->
<!--													</tr>-->
<!--												</tfoot>-->
<!--											</table>-->
<!--										</div>-->
<!--									</div>-->
<!--									<div class="span-2-25">-->
<!--										<h3 class="major">Buttons</h3>-->
<!--										<ul class="actions">-->
<!--											<li><a href="#" class="button primary color2">Primary</a></li>-->
<!--											<li><a href="#" class="button">Default</a></li>-->
<!--										</ul>-->
<!--										<ul class="actions">-->
<!--											<li><a href="#" class="button">Default</a></li>-->
<!--											<li><a href="#" class="button large">Large</a></li>-->
<!--											<li><a href="#" class="button small">Small</a></li>-->
<!--										</ul>-->
<!--										<ul class="actions">-->
<!--											<li><a href="#" class="button primary color2 icon solid fa-cog">Icon</a></li>-->
<!--											<li><a href="#" class="button icon fa-gem">Icon</a></li>-->
<!--										</ul>-->
<!--										<ul class="actions">-->
<!--											<li><span class="button primary color2 disabled">Disabled</span></li>-->
<!--											<li><span class="button disabled">Disabled</span></li>-->
<!--										</ul>-->
<!--										<ul class="actions">-->
<!--											<li><a href="#" class="button primary color2 circle icon solid fa-cog">Icon</a></li>-->
<!--											<li><a href="#" class="button circle icon fa-gem">Icon</a></li>-->
<!--										</ul>-->
<!--									</div>-->
<!--									<div class="span-4-5">-->
<!--										<h3 class="major">Form</h3>-->
<!--										<form method="post" action="#">-->
<!--											<div class="fields">-->
<!--												<div class="field third">-->
<!--													<label for="demo-name">Name</label>-->
<!--													<input type="text" name="demo-name" id="demo-name" value="" placeholder="Jane Doe" />-->
<!--												</div>-->
<!--												<div class="field third">-->
<!--													<label for="demo-email">Email</label>-->
<!--													<input type="email" name="demo-email" id="demo-email" value="" placeholder="jane@untitled.tld" />-->
<!--												</div>-->
<!--												<div class="field third">-->
<!--													<label for="demo-category">Category</label>-->
<!--													<div class="select-wrapper">-->
<!--														<select name="demo-category" id="demo-category">-->
<!--															<option value="">-</option>-->
<!--															<option value="1">Manufacturing</option>-->
<!--															<option value="1">Shipping</option>-->
<!--															<option value="1">Administration</option>-->
<!--															<option value="1">Human Resources</option>-->
<!--														</select>-->
<!--													</div>-->
<!--												</div>-->
<!--												<div class="field quarter">-->
<!--													<input type="radio" id="demo-priority-low" name="demo-priority" class="color2" checked />-->
<!--													<label for="demo-priority-low">Low Priority</label>-->
<!--												</div>-->
<!--												<div class="field quarter">-->
<!--													<input type="radio" id="demo-priority-high" name="demo-priority" class="color2" />-->
<!--													<label for="demo-priority-high">High Priority</label>-->
<!--												</div>-->
<!--												<div class="field quarter">-->
<!--													<input type="checkbox" id="demo-copy" name="demo-copy" class="color2" />-->
<!--													<label for="demo-copy">Email a copy</label>-->
<!--												</div>-->
<!--												<div class="field quarter">-->
<!--													<input type="checkbox" id="demo-human" name="demo-human" class="color2" checked />-->
<!--													<label for="demo-human">Not a robot</label>-->
<!--												</div>-->
<!--												<div class="field">-->
<!--													<label for="demo-message">Message</label>-->
<!--													<textarea name="demo-message" id="demo-message" placeholder="Enter your message" rows="2"></textarea>-->
<!--												</div>-->
<!--											</div>-->
<!--											<ul class="actions">-->
<!--												<li><input type="submit" value="Send Message" class="primary color2" /></li>-->
<!--												<li><input type="reset" value="Reset" /></li>-->
<!--											</ul>-->
<!--										</form>-->
<!--									</div>-->
								</div>
							</section>

						<!-- Copyright -->
<!--							<div class="copyright">&copy; Untitled. Design: <a href="https://html5up.net">HTML5 UP</a>.</div>-->

					</div>

			</div>

		<!-- Scripts -->

			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/main.js"></script>



	</body>
</html>